@import "tailwindcss";

/* FlyonUI */
@plugin "@iconify/tailwind4";
@plugin "flyonui";
@plugin "flyonui/theme" {
    name: "gourmet";
    default: true;

    /* 
    --color-primary: #ffde59;
    --color-primary-content: #0c0a09; 
    */
}

@import "../../node_modules/flyonui/variants.css";
@source "../../node_modules/flyonui/dist/index.js";

/* Laravel components */
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Poppins", system-ui, sans-serif;
}

@utility btn {
    @apply shadow-none h-auto py-1;
}

@utility input {
    @apply focus:outline-0 focus:border-primary focus:shadow-none rounded-lg;
}

@utility textarea {
    @apply focus:outline-0 focus:border-primary focus:shadow-none resize-none rounded-lg;
}

@utility select {
    @apply focus:outline-0 focus:border-primary focus:shadow-none rounded-lg;
}
@utility no-scrollbar {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}
